{% extends 'ups/base.html' %}
    {% block content %} 
        <div>
            <h1>Our Team</h1>
            {% load static %}
            <div class="responsive">
                <div class="img">
                    <a target="_blank">
                        <img src="{% static 'images/cx30.jpg' %}" alt="description" width="225" height="200">
                    </a>
                <div class="desc">
                    <div>Cheng Xing</div>
                    <div>Email: cx30@duke.edu</div>
                </div>
            </div>
        </div>
 
        <div class="responsive">
            <div class="img">
                <a target="_blank">
                    <img src="{% static 'images/jw562.jpg' %}" alt="description" width="225" height="200">
                </a>
            <div class="desc">
                <div>Junru Wang</div>
                <div>Email: jw562@duke.edu</div>
            </div>
        </div>
    {% endblock %}