{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/ups.css' %}">
    </head>
    <body>
        <ul>
            <li><a href="{% url 'homepage' %}">Homepage</a></li>
            <li><a href="{% url 'trace' %}">Trace</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'aboutus' %}">Contact Us</a></li>
            <li style="float:right"><a href="{% url 'login' %}">Login</a></li>
        </ul>
        {% block content %}
        <p id = "content">
        </p>
        {% endblock %}
    </body>
</html>