{% extends 'ups/base.html' %}
    {% block content %} 
        <div>
            <h1>Welcome to UPS!</h1>
            {% load static %}
            <img src="{% static 'images/cat.gif' %}" />
        </div>
    {% endblock %}