{% extends 'ups/base.html' %}

    {% block content %}
    <h1>login</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{uf.as_p}}
          <button type="submit">Log in</button>
        </form>
    <a id="btnregister" href="{% url 'register' %}">register</a>
    {% endblock %}