{% extends 'ups/base.html' %}

{% block content %}
    <div id="detail" class="package_detail">
        <h3>package : {{ package.package_id }}</h3>
        {% if package.time %}
            <h4>Package create time : {{ package.time }}</h4>
        {% endif %}
            <h4>Package destination: {{ package.x_dest }},{{ package.y_dest }}
            {% if package.status == 0 %}
                <h4>Package status : Created</h4>
            {% elif package.status == 1 %}
                <h4>Package status : Truck en route to warehouse</h4>
            {% elif package.status == 2 %}
                <h4>Package status : Truck waiting for package</h4>
            {% elif package.status == 3 %}
                <h4>Package status : Package out for delivery</h4>
            {% elif package.status == 4 %}
                <h4>Package status : Package delivered</h4>
            {% endif %}
        <div>
            {% if history.created %}
                <h4>{{ history.created }} Package created</h4>
            {% endif %}
            {% if history.enroute %}
                <h4>{{ history.enroute }} Truck en route to warehouse</h4>
            {% endif %}
            {% if history.wfpackage %}
                <h4>{{ history.enroute }} Truck waiting for package</h4>
            {% endif %}
            {% if history.endelivery %}
                <h4>{{ history.endelivery }} Package out for delivery</h4>
            {% endif %}
            {% if history.delivered %}
                <h4>{{ history.delivered }} Package delivered</h4>
            {% endif %}
        </div>
        <h4>Products in this package :</h4>
        {% for product in productlist %}
            <div class="products">  
                <h4>{{ product.description }} count:{{ product.count }}</h4>
            </div>
        {% endfor %} 
        
        {% if package.status == 0 %}
            <h4><label for="redirect">redirect this package:</label></h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rf.as_p}}
                <button type="submit">OK</button>
            </form>
        {% elif package.status == 1 %}
            <h4><label for="redirect">redirect this package:</label></h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rf.as_p}}
                <button type="submit">OK</button>
            </form>
        {% elif package.status == 2 %}
            <h4><label for="redirect">redirect this package:</label></h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rf.as_p}}
                <button type="submit">OK</button>
            </form>
        {% elif package.status == 3 %}
            <h4><label for="redirect">redirect this package:</label></h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{rf.as_p}}
                <button type="submit">OK</button>
            </form>
        {% endif %}
             
    </div>
{% endblock %}
