{% extends 'ups/base.html' %}
    {% block content %} 
    {% if user.is_authenticated %}
        <div>
            <h1>{{ username }} Welcome!</h1>
        </div>
        <h2>My packages : </h2>
        {% for package in mypackages %}
            <div class="mypackages">
                <h3><a id="package" href="{% url 'package_detail' pk=package.pk %}">{{ package.package_id }}</a></h3>
            </div>
        {% endfor %}
        <div>
            <a id="btnlogout" href="{% url 'logout' %}">log out</a>
        </div>
    {% else %}
        <div>
            <button class = "btn btn-default"><a href = "{% url 'login' %}">log in</a></button>
        </div>
        
    {% endif %}
    {% endblock %}