{% extends 'ups/base.html' %}
    {% block content %}
    <h1>Regist</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{uf.as_p}}
      <input type="submit" value="ok"></input>
    </form>
    <a id="btnlogin" href="{% url 'login' %}">login</a>
    {% endblock %}