{% extends 'ups/base.html' %}

    {% block content %}
    <h1><label for="package_id">Trace your package</label></h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{uf.as_p}}
          <button type="submit">Search</button>
        </form>
    {% endblock %}