{% extends 'ups/base.html' %}
    {% block content %} 
    <div>
      <h2 id="error">{{ wrong_message }}</h2> 
    </div>
    {% if user.is_authenticated %} 
    <div>   
      <h3><a id="backhome" href="{% url 'homepage' %}">back to homepage</a></h3>
    </div>
    {% else %}
       <h3><a id="btnlogin" href="{% url 'login' %}">login</a></h3>
    {% endif %}
    {% endblock %}