        h1 {
          color: #333;
          padding-left: 30px;
          font-family: 'Lobster';
        }
        
        form {
          padding-left: 30px;
        }
        
        img{
          padding-left: 30px;
        }
        #btnregister {
          padding-left: 30px;
        }
        #btnlogout{
          padding-left: 30px;
        }
        #btnlogin{
          padding-left: 30px;
        }
        #package{
          padding-left: 30px;
        }
        #detail{
          padding-left: 30px;
        }
        #backhome{
          padding-left: 30px;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color:#333
        }
        .errorlist{
          background-color: white;
        }
        li {
          float: left;
          border-right:1px solid #bbb;
        }

        li:last-child {
          border-right: none;
        }

        li a {
          display: block;
          color: white;
          text-align: center;
          width:150px;
          padding: 16px 16px;
          text-decoration: none;
        }

        li a:hover:not(.active) {
          background-color: #111;
        }

        .active {
          background-color: #4CAF50;
        }
        
        h2 {
          padding-left: 30px;
          background-color: white;    
        }
        
        div.img {
          margin: 10px;
          border: 1px solid #ccc;
          width: 180px;
          float: left;
        }

        div.img img {
          width: 100%;
          height: auto;
        }

        div.desc {
          padding: 15px;
          text-align: center;
        }
        
        .responsive{
          padding-left: 30px;
        }